body {
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:bold;
	text-align:center;	
}

.clear {
	clear:both;
}

h1, h2, h3, h4, h5, h6, p, img, a {
	margin:0;
	padding:0;
	border:none;
}

p {
	font-weight:normal;
}

a {
	outline:none;
	text-decoration:none;
	color:#135D8C;
}

/*  ===== General =====  */

.main_area {
	width:980px;
	margin:auto;
	padding-top:7px;
}

.home_links ul,
.home_links li,
.menu_area ul,
.menu_area li {
	margin:0;
	padding:0;
	list-style:none;
}

.controlls div.container {
	background:url(../images/readmore_blue_shadow.png) left top no-repeat;
	width:145px;
	height:32px;
}

.controlls div.container2 {
	background:url(../images/readmore_blue_shadow.png) left top no-repeat;
	width:145px;
	height:32px;
}

.controlls div.container2 a.readmore {
	display:block;
	width:95px;
	line-height:27px;
	text-align:center;
/*	background:url(../images/readmore_blue_shadow.png) left top no-repeat; */
	text-decoration:none;
	color:#FFFFFF;
}

.ancmnt_area .controlls div.container {
	background:none;
	width:auto;
	height:auto;
}

a.readmore {
	display:block;
	width:95px;
	line-height:27px;
	text-align:center;
	background:url(../images/readmore_blue.png) left top no-repeat;
	text-decoration:none;
	color:#FFFFFF;
}

a.dp_readmore {
	display:block;
	width:70px;
	line-height:18px;
	text-decoration:none;
	color:#838383;
	font-size:10px;
}

/*  ===== Toolbar =====  */

.toolbar_area {
	width:402px;
	height:35px;
}

.toolbar_area .moduletable p {
	color:#FFFFFF;
	line-height:35px;
}

.toolbar_area .moduletable p a,
.toolbar_area .moduletable p span {
	font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
}

.toolbar_area .login {
	width:
}

.toolbar_area .language {
	width:90px;
}

.toolbar_area div.mod-languages ul.lang-inline li {
	display:inherit;
}

.toolbar_area div.mod-languages ul.lang-inline li a {
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	line-height:35px;
}

.admin_panel {
	width:115px;
}

.toolbar_area .admin_panel ul.menu,
.toolbar_area .admin_panel ul.menu li {
	padding:0;
	margin:0;
	list-style:none;
}

.toolbar_area .admin_panel ul.menu li {
	line-height:35px;
	color:#FFFFFF;
	font-weight:bold;
	padding:0 3px;
}

.toolbar_area .admin_panel ul.menu li a {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

/*  ===== Header =====  */

.header_area {
	height:104px;
}

.header_area .logo_img a {
	outline:none;
}

/*  ===== TopMenu =====  */

.topmenu_area {
	position:relative;
	padding-top:31px;
	width:980px;
}

.menu_area {
	width:688px;
	position:absolute;
	top:0;
}

.menu_area ul {
	padding-top:4px;
	height:29px;
	position:relative;
}

.menu_area li {
	position:relative;
}

.menu_area li a {
	line-height:27px;
	background-repeat:no-repeat;
	white-space:nowrap;
	display:block;
	text-align:center;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	outline:none;
}

.menu_area li a span {
	display:block;
	background-repeat:no-repeat;
}

.menu_area li.menu-0 {
	z-index:9;
}

.menu_area li.menu-0:hover a {
	color:#a0852d;
}

.menu_area li.menu-1:hover a {
	color:#cb3130;
}

.menu_area li.menu-2:hover a {
	color:#ec5e22;
}

.menu_area li.menu-3:hover a {
	color:#4b8185;
}

.menu_area li.menu-4:hover a {
	color:#78a144;
}

.menu_area li.menu-5:hover a {
	color:#0775a5;
}

.menu_area li.menu-1 {
	z-index:8;
}

.menu_area li.menu-2 {
	z-index:7;
}

.menu_area li.menu-3 {
	z-index:6;
}

.menu_area li.menu-4 {
	z-index:5;
}

.menu_area li.menu-5 {
	z-index:4;
}

.menu_area li:hover {
	z-index:10;
}

.menu_area li ul {
	display:none;
	padding:0;
	position:absolute;
	height:auto;
	width:200px;
}

.menu_area li:hover ul {
	display:block;
}

.menu_area li ul li {
	width:220px;
	margin:0;
	background:url(../images/submenu_bg.png) left top repeat-x;
}

.menu_area li ul li:last-child {
	height:28px;
}

.menu_area li ul li a span,
.menu_area li ul li a {
	background:none;
	padding:0;
}

.menu_area li.menu-0:hover li a,
.menu_area li.menu-1:hover li a,
.menu_area li.menu-2:hover li a,
.menu_area li.menu-3:hover li a,
.menu_area li.menu-4:hover li a,
.menu_area li.menu-5:hover li a {
	color:#666666;
}

.menu_area li ul li a {
	line-height:30px;
}

.menu_area li.menu-0:hover li a:hover {
	color:#a0852d;
}

.menu_area li.menu-1:hover li a:hover {
	color:#cb3130;
}

.menu_area li.menu-2:hover li a:hover {
	color:#ec5e22;
}

.menu_area li.menu-3:hover li a:hover {
	color:#4b8185;
}

.menu_area li.menu-4:hover li a:hover {
	color:#78a144;
}

.menu_area li.menu-5:hover li a:hover {
	color:#0775a5;
}

ul.menu > li > ul { z-index: 9999999 !important; }



/*  ===== Search =====  */

.search_area {
	width:205px;
	height:31px;
	position:absolute;
	top:0;
	z-index:11;
}

.search_area form {
	padding-top:5px;
}

.search_area .search {
	width:165px;
	height:26px;
	position:relative;
}

.search_area .search .searchbox {
	border:none;
	padding:0;
	background:none;
	height:26px;
	line-height:26px;
	color:#8c8c8c;
	width:115px;
	outline:none;
}

.search_area .search .clearsearch {
	background:url(../images/crossbtn.png) left top no-repeat;
	width:14px;
	height:14px;
	display:none;
	text-indent:-999999px;
	position:absolute;
	top:7px;
}



/*  ===== Home Page Links =====  */

.home_links {
	position:absolute;
	top:0;
	width:112px;
	height:31px;
}

.home_links ul {
	background:none;
	position:relative;
}

.home_links ul li {
	position:absolute;
	width:69px;
	height:29px;
	top:2px;
	z-index:2;
}

.home_links ul li.sitemap {
	z-index:1;
}

.home_links ul li a {
	width:24px;
	line-height:20px;
	display:block;
}

/*  ===== Announcements =====  */

.ancmnt_area {
	background:url(../images/anc_shadow.png) center bottom;
	padding-bottom:21px;
}

.ancmnt_area .anc_mid {
	background:url(../images/anc_bg_mid.png) left top repeat-x;
}

.ancmnt_area .anc_left {
	background:url(../images/anc_bg_left.png) left top no-repeat;
}

.ancmnt_area .anc_right {
	background:url(../images/anc_bg_right.png) right top no-repeat;
	height:53px;
	padding:11px 17px 0 17px;
}

.ancmnt_area .anc_iner_mid {
	background:url(../images/annc_iiner_mid.png) left top repeat-x;
}

.ancmnt_area .anc_iner_left {
	background:url(../images/annc_iiner_left.png) left top no-repeat;
}

.ancmnt_area .anc_iner_right {
	background:url(../images/annc_iiner_right.png) right top no-repeat;
	height:45px;
}

.ancmnt_area .moduletable {
	padding:0 12px;
	height:45px;
	position:relative;
}

.ancmnt_area #prev93,
.ancmnt_area #next93 {
	position:absolute;
	top:0;
	display:block;
	height:45px;
	width:12px;
	text-indent:-999999px;
	cursor:pointer;
}

.ancmnt_area .controlls .container,
.ancmnt_area .controlls a {
	background:none;
}

.ancmnt_area .controlls a {
	color:#666666;
	line-height:26px;
	width:115px;
	margin:0;
	text-align:left;
}

.ancmnt_area .controlls,
.ancmnt_area h3 {
	text-decoration:none;
	line-height:26px;
	color:#666666;
	width:115px;
}

.ancmnt_area .anews_cn {
	line-height:26px;
	height:26px;
	position:absolute;
	overflow:hidden;
	padding-top:10px;
	top:0;
}

.ancmnt_area .anews_cn .anews_wrpr {
	position:absolute;
	height:26px;
}

.ancmnt_area .anews_cn .anews_item {
	height:26px;
}

.ancmnt_area .anews_cn a,
.ancmnt_area .anews_cn p {
	color:#666666;
	text-decoration:none;
	font-weight:normal;
}

.ancmnt_area .anews_cn a:hover {
	text-decoration:underline;
}

/*  ===== Breadcrumbs =====  */

.breadcrumbs .anc_iner_right {
	height:45px;
}

.breadcrumbs .showHere {
	height:45px;
	width:160px;
	display:block;
	line-height:45px;
	color:#FFFFFF;
}

.breadcrumbs .showHere a {
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
}

.breadcrumbs .showCrmb {
	height:45px;
	line-height:45px;
	width:750px;
}

.breadcrumbs .showCrmb ul,
.breadcrumbs .showCrmb li {
	padding:0;
	margin:0;
	list-style:none;
}

.breadcrumbs .showCrmb a {
	color:#135d8c;
	text-decoration:none;
	font-weight:bold;
	display:block;
	padding:0 4px;
}

.breadcrumbs .showCrmb a,
.breadcrumbs .showCrmb li span,
.breadcrumbs .showCrmb li {
	white-space:nowrap;
}

/*  ===== Body =====  */


.body_area {
	padding:8px 0;
}

.body_wrpr .bodyw_left {
	width:755px;
}







.body_wrpr .left_area {
	width:190px;
}

.body_wrpr .left_area ul.menu,
.body_wrpr .left_area ul.menu li {
	margin:0;
	padding:0;
	list-style:none;
}

.body_wrpr .left_area ul.menu {
	border:#cecece solid 1px;
	border-radius:10px;
	overflow:hidden;
}

.body_wrpr .left_area li.parent > a,
.body_wrpr .left_area li.parent .separator {
	background:#aed56b;
	height:25px;
	line-height:25px;
	display:block;
	padding:0 10px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

.body_wrpr .left_area ul.menu ul {
	padding:10px;
	margin:0;
}

.body_wrpr .left_area ul.menu ul li {
	line-height:22px;
}

.body_wrpr .left_area ul.menu ul li a {
	color:#838383;
	text-decoration:none;
}

/*  ===== News Area =====  */

.news_arae {
	background:url(../images/news_midbg.png) left top repeat-x;
	width:650px;
	color:#FFFFFF;
}

.news_left {
	background:url(../images/news_leftbg.png) left top no-repeat;
}

.news_right {
	background:url(../images/news_rightbg.png) right top no-repeat;
}

.news_shadow {
	background:url(../images/news_shadow.png) left bottom no-repeat;
	height:256px;
}

.news_shadow .anews_cn {
	position:relative;
	height:130px;
	overflow:hidden;
}

.news_shadow .anews_cn .anews_wrpr {
	position:absolute;
	height:130px;
}

.news_shadow .anews_cn .anews_item {
	height:130px;
}

.news_arae .controlls .container {
	background:url(../images/readmore_red_shadow.png) left top no-repeat;
}

.news_arae .controlls a.readmore {
	background:url(../images/readmore_red.png) left top no-repeat;
}

.news_arae .controlls a.readmore:hover {
	background:url(../images/readmore_red.png) left -26px no-repeat;
}

.news_arae .controlls .handles {
	width:100px;
}

.news_arae .handles span {
	display:block;
	width:10px;
	height:10px;
	text-indent:-9999999px;
	background:url(../images/bullets.png) left top no-repeat;
	cursor:pointer;
}

.news_arae .handles span.active {
	background:url(../images/bullets.png) left -10px no-repeat;
}

.news_arae h3 span {
	font-size:10px;
	display:block;
}

.news_arae a {
	text-decoration:none;
	color:#FFFFFF;
}

.news_arae img {
	border:2px solid #FFFFFF;
}

/*  ===== OurVision Area =====  */

.vision_area {
	width:330px;
	height:262px;
	margin-top:-6px;
}

.vision_area h3 a,
.vision_area h3 {
	color:#a38600;
	font-size:14px;
	padding-bottom:15px;
	text-decoration:none;
}

.vision_area h3 a {
	color:#a38600;
}

.vision_area .moduletable p {
	color:#135d8c;
	padding-bottom:10px;
}

/*  ===== OurVision/Circulars/Policies Area =====  */


.vcp_shadow {
	width:650px;
	padding-bottom:28px;
}

.vcp_btm {
	height:262px;
	position:relative;
}

.vcp_btm .controlls {
	position:absolute;
	bottom:10px;
/*	width:368px; */
	width:390px;
}

.vcp_area div.tabs {
	background:url(../images/logo2.png) center 207px no-repeat;
	height:262px;
}

.vcp_area .tabs {
	width:210px;
}

.vcp_area .tabs ul,
.vcp_area .tabs li {
	padding:0;
	margin:0;
	list-style:none;
}

.vcp_area .tabs ul {
	padding:20px 0;
}

.vcp_area .tabs li {
	height:38px;
	color:#666666;
	cursor:pointer;
}

.vcp_area .tabs li.active,
.vcp_area .tabs li:hover {
	color:#135d8c;
}

.vcp_area .tabs li span {
	font-size:9px;
	display:block;
}

.vcp_area .tabs li span.nm {
	height:52px;
	line-height:30px;
	width:20px;
}

.vcp_area .tabs li.crclrs:hover span {
	color:#6b8880;
}

.vcp_area .tabs li.active span,
.vcp_area .tabs li.plcies:hover span {
	color:#a38600;
}

.vcp_area .items {
	width:435px;
}

.vcp_area .items ul,
.vcp_area .items li {
	padding:0;
	margin:0;
	list-style:none;
}

.vcp_area .items ul {
	padding-bottom:20px;
}

.vcp_area .items li {
	background:url(../images/vcp_underline.png) left bottom repeat-x;
}

.vcp_area .items li a {
	line-height:28px;
	color:#135d8c;
	text-decoration:none;
}

.sub_title {
	color:#999999;
}

.vcp_area .visioncn div.anews_item a {
	text-decoration:none;
	padding-bottom:15px;
	color:#135D8C;
	display:block;
}

.vcp_area .visioncn div.anews_item p {
	color:#666666;
}

/*  ===== Events Calander / Tasawaq =====  */

.ect_area {
	width:310px;
	padding-bottom:28px;
	position:relative;
}

.ect_wrpr {
	background:url(../images/ect_bgmid.png) left top repeat-y;
}

.ect_top {
	background:url(../images/ect_bgtop.png) left top no-repeat;
}

.ect_btm {
	background:url(../images/ect_bgbtm.png) left bottom no-repeat;
	width:278px;
	height:261px;
	position:relative;
}

.ect_btm .controlls {
	position:absolute;
	bottom:10px;
	width:230px;
}

.ect_wrpr ul,
.ect_wrpr li {
	padding:0;
	margin:0;
	list-style:none;
}

.ect_wrpr ul {
	padding-bottom:20px;
}

.ect_wrpr li {
	background:url(../images/vcp_underline.png) repeat-x scroll left bottom transparent;
}

.ect_wrpr li a {
	color:#135D8C;
	line-height:28px;
	text-decoration:none;
}

.ect_tabs {
	width:32px;
	height:261px;
}

.ect_tabs ul,
.ect_tabs ul li {
	margin:0;
	padding:0;
	list-style:none;
}

.ect_tabs ul {
	position:relative;
	top:5px;
}

.ect_tabs ul li {
	position:absolute;
	z-index:1;
	cursor:pointer;
}

.ect_tabs li.tswk {
	width:25px;
	height:100px;
	top:0;
}

.ect_tabs li.tswk.active {
	z-index:2;
}

.ect_tabs li.evcr {
	width:25px;
	height:140px;
	top:76px;
}

.ect_tabs li.evcr.active {
	z-index:2;
}

.ect_area .ect_wrpr .calendar {
	padding:20px;
	padding-bottom:0;
}

.ect_area .ect_wrpr .calendar a.view_all {
	color:#a38500;
	font-size:10px;
	text-decoration:none;
	padding-left:15px;
	line-height:25px;
}

.ect_area .ect_wrpr .calendar input.event_calnd {
	background:url(../images/cal/field_bg.png) left top no-repeat;
	width:92px;
	height:25px;
	border:none;
	font-size:9px;
	color:#818282;
	line-height:25px;
	float:left;
	text-align:left;
	padding:0 5px 0 30px;
}

.ect_area .calendar .cal_tabs {
	width:25px;
	height:162px;
	padding-top:23px;
}

.ect_area .calendar .cal_tabs a {
	display:block;
	width:25px;
	height:80px;
	text-indent:-99999px;
}

.ect_area .calendar .calendar_area {
	background:url(../images/cal/calander_bg.png) left top no-repeat;
	width:191px;
	height:198px;
}

.ect_area .calendar .calendar_area table {
	margin:0;
	width:100%;
}

.ect_area .calendar .calendar_area table thead {
	color:#FFFFFF;
	height:20px;
}

.ect_area .calendar_area table {
	height:150px;
}

.ect_area .calendar_area table td.dayname {
	border:none;
	background:none;
	color:#FFFFFF;
}

.ect_area .calendar_area table tbody td {
	border:#272727 solid 1px;
	background:#FFFFFF;
	margin:0;
	width:25px;
}

.ect_area .calendar_area tbody td.td_outofmonth {
	background:url(../images/cal/old_bg.png) left top repeat-x;
}

.ect_area .calendar_area tbody td span {
	font-weight:normal;
	padding:0;
	color:#818282;
}

.ect_area .calendar_area tbody td span a {
	color:#818282;
}

.ect_area .calendar_area tbody td.td_hasitems {
	background:url(../images/cal/crnt_bg.png) left top repeat-x;
	color:#FFFFFF;
}

.newscalendar span.hasitems {
	background:none;
}

.cal_top {
	color:#FFFFFF;
	line-height:32px;
	padding-left:5px;
	font-size:9px;
	text-align:left;
	position:relative;
}

.cal_top a {
	display:block;
	width:18px;
	height:18px;
	text-indent:-9999px;
	position:absolute;
	top:6px;
}

.cal_top a.back {
	left:143px;
}

.cal_top a.next {
	left:162px;
}


/*  ===== Announcements / Prayer Timings / Weather / Job Board / New Hire / Picture Gallery =====  */

.tabsbtm_area {
	padding-bottom:23px;
}

.tabsbtm_area .tabsbtm_mid {
	background:url(../images/tabbtm_bgmid.png) left top repeat-y;
}

.tabsbtm_area .tabsbtm_top {
	background:url(../images/tabbtm_bgtop.png) left top no-repeat;
}

.tabsbtm_area .tabsbtm_btm {
	background:url(../images/tabbtm_bgbtm.png) left bottom no-repeat;
	height:257px;
	width:641px;
}

.tabsbtm_area .tabs_area {
	width:117px;
	height:257px;
}

.tabsbtm_area .tabs_area ul,
.tabsbtm_area .tabs_area li {
	padding:0;
	margin:0;
	list-style:none;
}

.tabsbtm_area .tabs_area li {
	cursor:pointer;
	height:43px;
	width:107px;
	color:#0e3752;
	font-weight:bold;
	font-size:10px;
	line-height:43px;
}

.tabsbtm_area .cntnt_area {
	width:524px;
	height:257px;
	position:relative;
}

.tabsbtm_area .cntnt_area .controlls {
	position:absolute;
	bottom:10px;
	width:464px;
}

.tabsbtm_area .cntnt_area ul,
.tabsbtm_area .cntnt_area li {
	padding:0;
	margin:0;
	list-style:none;
}

.tabsbtm_area .cntnt_area li {
	background:url(../images/vcp_underline.png) left bottom repeat-x;
}

.tabsbtm_area .cntnt_area ul {
	padding-bottom:20px;
}

.tabsbtm_area .cntnt_area li a {
	color:#135D8C;
	line-height:28px;
	text-decoration:none;
}

.newhire {
	position:relative;
}

.vcp_area h3,
.newhire h3 {
	color:#1a5f8d;
	font-size:11px;
	border-bottom:#999999 dotted 1px;
	line-height:22px;
}

.newhire_cn {
	width:464px;
	height:160px;
	position:relative;
	overflow:hidden;
}

.newhire_cn .newhire_wrpr {
	height:160px;
	width:30000px;
	position:absolute;
}

.newhire_cn .newhire_item {
	height:135px;
	width:464px;
	padding-top:12px;
}

.newhire_cn .newhire_img {
	width:84px;
}

.newhire_cn .newhire_details {
	width:355px;
	color:#1a5f8d;
	line-height:15px;
}

.newhire_cn .newhire_details h4 {
	font-size:11px;
}

.vcp_area .handles,
.newhire .handles {
	position:absolute;
	top:30px;
}

.vcp_area .handles span,
.newhire .handles span {
	background:url(../images/bullets.png) left top no-repeat;
	height:10px;
	width:10px;
	display:block;
	text-indent:-99999px;
	cursor:pointer;
}

.vcp_area .handles span.active,
.newhire .handles span.active {
	background:url(../images/bullets.png) no-repeat scroll left -10px transparent;
}

/*  ===== Quots / Surveys / Polls =====  */

.qsp_area {
	padding-bottom:23px;
	width:306px;
}

.qsp_area .tabs_area {
	height:36px;
}

.qsp_area .tabs_area ul,
.qsp_area .tabs_area li {
	list-style:none;
	padding:0;
	margin:0;
}

.qsp_area .tabs_area ul {
	position:relative;
	width:306px;
	height:32px;
	color:#135d8c;
	font-weight:bold;
	border-bottom:#5bacdf solid 4px;
}

.qsp_area .tabs_area li {
	height:32px;
	width:115px;
	line-height:32px;
	position:relative;
}

.qsp_area .tabs_area li.quotes {
	margin:0;
	z-index:3;
}

.qsp_area .tabs_area li.surveys {
	z-index:2;
}

.qsp_area .tabs_area li.polls {
	z-index:1;
}

.qsp_area .tabs_area li span {
	cursor:pointer;
	display:block;
	width:65px;
}

.qsp_area .tabs_area li.active {
	z-index:4;
	color:#FFFFFF;
}

.qsp_area .cntnt_area {
	background:url(../images/qsp_btm_bg.png) #f5f6f7 left bottom no-repeat;
	position:relative;
	width:306px;
}

.qsp_area .cntnt_area .qsp_btmline {
	border-bottom:#dddddd solid 2px;
	border-top:#dddddd solid 2px;
	height:204px;
	background:#FEFEFE;
}

.qsp_area .cntnt_area .quotes .title {
	border-bottom:#dddddd solid 1px;
}

.qsp_area .cntnt_area .quotes h4 {
	height:47px;
	color:#135d8c;
	background:#fefefe;
}

.qsp_area .cntnt_area .quotes p {
	height:115px;
	background:#f9fafb;
	color:#666666;
	position:relative;
}

.qsp_area .cntnt_area .controlls .container {
	position:absolute;
	bottom:25px;
}

.qsp_area .cntnt_area .surveys .moduletable ul,
.qsp_area .cntnt_area .surveys .moduletable li {
	list-style:none;
	padding:0;
	margin:0;
}

.qsp_area .cntnt_area .surveys .moduletable ul {
	padding-bottom:20px;
}

.qsp_area .cntnt_area .surveys .moduletable li {
	background:url(../images/vcp_underline.png) left bottom repeat-x;
}

.qsp_area .cntnt_area .surveys .moduletable li a {
	color:#135D8C;
	line-height:28px;
	text-decoration:none;
}

.qsp_area .cntnt_area .polls .poll_chart {
	height:120px;
	width:120px;
}

.qsp_area .cntnt_area .polls .poll_options {
	padding-top:10px;
	width:150px;
	color:#343434;
}

.qsp_area .cntnt_area .polls .polldiv {
	height:200px;
	overflow:hidden;
	overflow-y:auto;
}

.qsp_area .cntnt_area .polls .poll_optionscn {
	height:80px;
	overflow:hidden;
	overflow-y:auto;
}

.qsp_area .cntnt_area .polls .pollresults {
	overflow:hidden;
	height:120px;
	overflow-y:auto;
	padding:10px 15px;
}

.qsp_area .cntnt_area .polls .pollresults2 {
	padding:10px 15px;
}

.qsp_area .cntnt_area .polls .poll_options h4 {
	font-weight:normal;
	padding-bottom:10px;
	font-size:11px;
}

.tabsbtm_area .content .controlls .view_all,
.qsp_area .cntnt_area .polls .buttons .view_all {
	padding-top:10px;
	text-align:center;
}

.tabsbtm_area .content .controlls .view_all a,
.qsp_area .cntnt_area .polls .buttons .view_all a {
	color:#135D8C;
	font-weight:bold;
	text-decoration:none;
}

.qsp_area .cntnt_area .polls .buttons .button {
	background:url(../images/readmore_blue.png) left top no-repeat;
	width:96px;
	height:27px;
	border:0;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
}

.qsp_area .cntnt_area .polls .buttons .viewresults {
	background:url(../images/readmore_blue.png) left top no-repeat;
	width:96px;
	height:27px;
	text-decoration:none;
	line-height:27px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
}


/*  ===== Contents =====  */

.body_wrpr {
	background:url(../images/page_shadow.png) left bottom no-repeat;
	padding:0 0 37px 0;
}

.body_wrpr .contents_area {
	padding-top:10px;
}

.body_wrpr .wrpr_top {
	background:url(../images/content_titlebg.png) #FFFFFF left top no-repeat;
	padding:7px 10px;
	min-height:350px;
}

.body_wrpr h1,
.body_wrpr h2,
.body_wrpr h2 a {
	color:#135d8c;
	padding-bottom:20px;
	font-size:18px;
	text-decoration:none;
}

.body_wrpr .wrpr_top p,
.body_wrpr .wrpr_top h2 {
	padding-bottom:10px;
}

.body_wrpr .wrpr_top .ariQuizQuestionRight p {
	padding:0;
}

/*  ===== Footer =====  */

.footer_area {
	background:url(../images/footer_bg.png) #ededed center top no-repeat;
}

.footer_area .footer_warper {
	padding:45px 10px;
}

.footer_area .footer_menu {
	background:url(../images/footer_menubg.png) left -29px repeat-x;
	width:670px;
}

.footer_menu .footer_left {
	background:url(../images/footer_menubg.png) left top no-repeat;
}

.footer_menu .footer_right {
	background:url(../images/footer_menubg.png) right -58px no-repeat;
	height:29px;
	padding:0 12px;
}

.footer_links ul,
.footer_links li,
.footer_menu ul,
.footer_menu li {
	padding:0;
	margin:0;
	list-style:none;
}

.footer_menu li a {
	display:block;
	line-height:29px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}

.footer_menu li a span {
	display:block;
	white-space:nowrap;
}

.footer_links .footer1 ul {
	width:130px;
}

.footer_area .footer_links {
	width:290px;
	font-size:9px;
}

/*  ===== Gallery =====  */

.gallery_wrpr {
}

/*  ===== EPost Component =====  */

.heading,
.userprofile thead,
.jd_cat_subheader {
	background:#6bb8e6;
	margin:0;
	padding:0 5px;
	line-height:22px;
	font-weight:bold;
	color:#FFFFFF;
}

.round_heading {
	border-radius:10px;
	overflow:hidden;
	padding-bottom:10px;
}

.dp_list .round_heading .heading {
	padding:0 10px;
}

.userprofile tr {
	vertical-align:top;
}

.userprofile .row1 {
	background:#E6E6E6;
	text-align:left;
}

.userprofile th, 
.userprofile td {
	padding:5px;
	border-right:#CCCCCC solid 1px;
}

.userdetail th,
.userdetail td {
	padding:5px;
	vertical-align:top;
}

.userdetail th {
	color:#135D8C;
}

.userprofile td.last {
	border:none;
}

.userprofile td a {
	text-decoration:none;
	color:#97BC3C;
}

.userprofile tfoot td .list-footer {
	text-align:center;
}

.list-footer ul {
	margin:0;
	list-style:none;
	padding:10px;
}

.list-footer ul li,
.adminlist tfoot td ul li,
.userprofile tfoot td ul li {
	display:inline;
	border:#CCCCCC solid 1px;
	padding:5px;
	margin:0 5px;
	line-height:normal;
}

.objective {
	padding:5px;
	color:#838383;
}

.adminlist th {
	background:#e6e6e6;
	font-weight:normal;
	padding:0 5px;
	line-height:22px;
}

.adminlist td {
	padding:0 5px;
	line-height:28px;
	vertical-align:top;
}

.adminlist td.img {
	vertical-align:middle;
}

.adminlist td a {
	/*color:#135D8C;*/
	color:#1AA2DE;
	text-decoration:none;
}

.dp_list .adminlist td span,
.dp_list .adminlist td a {
	color:#97bc3c;
	text-decoration:none;
	word-break:break-all;
	display:block;
}
/*
.adminlist tr.row0 td {
	background:#f9f9f9;
	background:#ffcc00 !important;
}
.adminlist tr.row1 td {
	background:#f9f9f9;
	background:#ffcc00 !important;
}
*/

.adminlist tr.row0 td {
	background:#f4f4f4;
	border: 3px solid #FFFFFF;

}
.adminlist tr.row1 td {
	background:#f4f4f4;
	border: 3px solid #FFFFFF;

}


.department_left {
	width:420px;
}

.department_right {
	width:325px;
}

.dp_list .details {
	padding:10px 0;
}

.pm_area .contents_area .adminlist th,
.dp_list .details .adminlist th {
	background:none;
	color:#135D8C;
}

.dp_warper {
	padding-bottom:10px;
}

.pictures_area,
.circulars_area,
.pm_area,
.ane_area {
	border:#d7d7d7 solid 1px;
}

.pm_area .tabs_area,
.ane_area .tabs_area {
	border-bottom:#d7d7d7 solid 1px;
	height:32px;
	background:#eae7ee;
}

.circulars_area ul,
.circulars_area li,
.pm_area .tabs_area ul,
.pm_area .tabs_area ul li,
.ane_area .contents_area ul,
.ane_area .contents_area li,
.ane_area .tabs_area ul.tabs,
.ane_area .tabs_area li.tab {
	list-style:none;
	margin:0;
	padding:0;
}

.ane_area .tabs_area ul.tabs {
	height:32px;
}

.pm_area .tabs_area li.tab,
.ane_area .tabs_area li.tab  {
	line-height:28px;
	cursor:pointer;
	color:#135D8C;
}

.pm_area .tabs_area li.tab span,
.ane_area .tabs_area li.tab span {
	line-height:28px;
	display:block;
}

.pm_area .tabs_area li.active,
.pm_area .tabs_area li:hover,
.ane_area .tabs_area li.active,
.ane_area .tabs_area li.tab:hover {
	color:#FFFFFF;
}

.circulars_area .contents_area,
.pm_area .contents_area,
.ane_area .contents_area {
	padding:5px;
	height:130px;
	position:relative;
}
.circulars_area .contents_area .dp_readmore,
.pm_area .contents_area .dp_readmore,
.ane_area .contents_area .dp_readmore {
	bottom:10px;
	position:absolute;
}

.circulars_area .contents_area li,
.ane_area .contents_area li {
	line-height:22px;
}

.circulars_area .contents_area li a,
.ane_area .contents_area li a {
	color:#838383;
}

.pm_area .tabs_area {
	height:23px;
}

.pm_area .tabs_area ul {
	height:23px;
}

.pm_area .tabs_area li.tab,
.pm_area .tabs_area li.tab span {
	line-height:23px;
}

.pictures_area,
.circulars_area {
	border-radius:10px;
	overflow:hidden;
}

.circulars_area h3 {
	background:#6BB8E6;
	height:23px;
	border-bottom:#D7D7D7 solid 1px;
	line-height:23px;
	font-size:11px;
	padding:0 10px;
	color:#FFFFFF;
}

.pictures_area h3 {
	background:#6BB8E6;
	height:23px;
	border-bottom:#D7D7D7 solid 1px;
	line-height:23px;
	font-size:11px;
	padding:0 10px;
	color:#FFFFFF;
}

.profile-edit .text {
	color:#135D8C;
	padding:5px;
}

.profile-edit .submit,
.profile-edit .input {
	padding:5px;
}

.profile-edit .input div {
	float:left;
}

.bookingSlots {
	font-size:11px;
	cursor:pointer;
	font-weight:normal;
	margin-bottom:2px;
}

.bookingSlots a {
	text-decoration:none;
}

a.brightNew,
.bookingNext,
.bookingPrevious {
	text-decoration:none;
	line-height:22px;
	color:#AED56B;
	font-weight:bold;
}

a.brightNew {
	background:url(../images/new_record.png) left top no-repeat;
	display:block;
	height:27px;
	width:150px;
	text-align:center;
	color:#FFFFFF;
	margin-top:10px;
	line-height:27px;
	float:left;
}

.mod_minical_table tr th {
	background:#6BB8E6;
	color:#FFFFFF;
	text-align:center;
	line-height:22px;
	width:135px
}

.mod_minical_table tr td {
	height:220px;
	vertical-align:top;
}

.mod_minical_table tr th,
.mod_minical_table tr td {
	border:#CCCCCC solid 1px;
	border-left:none;
	border-top:none;
}

.mod_minical_table tr th:first-child,
.mod_minical_table tr td:first-child {
	border-left:#CCCCCC solid 1px;
}

.mod_minical_table a {
	color:#135D8C;
}

td div.slotTitle {
	background:#E6E6E6;
	text-align:center;
	line-height:22px;
}

.mod_minical_table tr th.separator {
	background:#FFFFFF;
	border:none;
}

td div.slotTitle a {
	text-decoration:none;
}

table.jd_upload_form select {
	width:200px;
}

table.jd_upload_form .time select {
	width:auto;
}

table.jd_upload_form .time span {
	color:#999999;
	font-weight:normal;
}

.toggle-editor,
#editor-xtd-buttons {
	float:left;
	padding:5px;
}

.midAdmin .adminlist td {
	direction:ltr;
}

fieldset {
	border:none;
}

fieldset ul,
fieldset li {
	padding:0;
	margin:0;
	list-style:none;
}

fieldset li {
	margin-bottom:5px;
}

fieldset li fieldset {
	padding:0;
}

/* =========== IGallery ============ */

#plupload_div,
.igallery_form {
	direction:ltr;
	text-align:left;
	font-family:verdana;
}

#plupload_div {
	width:100% !important;
}

.igallery_form .adminformlist li {
	margin-bottom:10px;
	clear:both;
}

fieldset.adminform select {
	float:none;
}

.igallery_form .adminformlist label {
	width:200px;
	display:block;
	float:left;
}

/* =========== Extra ============ */

fieldset.adminform .adminformlist li input {
	float:none;
}

#xmap > ul {
	list-style:disc;
}

#xmap > ul > ul {
	list-style:circle;
}

#xmap ul li {
	line-height:22px;
}

.ect_wrpr li a:hover,
.vcp_area .items li a:hover,
.tabsbtm_area .cntnt_area li a:hover {
	color:#333333;
}

.back_button {
	clear:both;
}

.width-60 {
	width:60%;
}

.midAdmin .adminlist td {
	padding-bottom:5px;
}

.pane-sliders {
	display:none;
}

.anstable td {
	padding-bottom:5px;
}

.ari_results {
	line-height:22px;
}

.ari_results label {
	display:block;
	float:left;
	width:150px;
}

.ariquiz tr td {
	line-height:28px;
	background:url(../images/vcp_underline.png) left bottom repeat-x;
}

.title {
	font-size:14px;
}

.midAdmin td {
	text-align:left;
}

.vcp_area .newhire_cn {
	width:370px;
}

.vcp_area .newhire_cn .inner {
	width:370px;
}

.floating-tip {
	background:#FFFFFF;
	border:#dddddd solid 1px;
	color:#000000;
	text-align:left;
	padding: 5px 15px;
}

.floating-tip h4 {
	color:#6BB8E6;
	padding-bottom:10px;
}

.button2-left .modal_jform_user {
	display:none;
}