.pictures_area {
	text-align:center;
}
.pictures_area .contents_area {
  width:290px;
  margin:auto;
  height:180px;
  font-family: Arial;
  font-size:14px;
  position:relative;
  clear:both;
  overflow:hidden;
}
.pictures_area .contents_area a {
  color:#222;
}
.pictures_area .contents_area .carousel-images img {
  visibility:hidden;
  cursor:pointer;
}

.pictures_area .contents_area .carousel-controls .carousel-prev {
  position:absolute;
  bottom:20px;
  left:30px;
}
.pictures_area .contents_area .carousel-controls .carousel-next {
  position:absolute;
  bottom:20px;
  right:30px;
}
